<div class="all">
  <div class="header">
    <div class="maininfo">
      <div class="name" routerLink="/">Eric Eschelbach</div>
      <div class="title">Full Stack Web Developer</div>
      <div class="links">
        <a href="tel:801-313-0394">801-313-0394</a> ·
        <a href="mailto:ericeschelbach@gmail.com">ericeschelbach@gmail.com</a>
      </div>
    </div>
    <app-social-links></app-social-links>
  </div>
  <div class="picandselect">
    <img src="/assets/me.jpg" class="pic" routerLink="/">
    <!-- <div class="mainselect" (click)="changePage($event)">Qualifications</div>  -->
    <span class="mainselect" data-toggle="modal" data-target=".pages-modal">
      {{ currentDisplay }}
    </span>
  </div>
  <app-modal></app-modal>

  <div class="mainpanel">
    <div class="maincontainer">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
