select {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance:none;
}

/*for IE10*/
select::-ms-expand {
    display: none;
}

.mainselect {
  background-image: url(/assets/downarrow.png);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 1em;
  margin-left: 2vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 10vw 8px 2vw;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 14px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.all {
  width: 100vw;
  height: 98vh;
  min-width: 340px;
  min-height: 480px;
  padding: 0vh 2vw 0vh 2vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e0e0+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.mainpanel {
  background: white;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.header {
  height: 10vh;
  min-height: 85px;
  min-width: 340px;
  /* border: 1px solid green; */
  margin-top: 2vh;
}

.maininfo {
  float: left;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.17)
}

.name {
  font-size: 1.7em;
  font-weight: 500;
  margin: 10px 0 -5px 17px;
}

.title {
  font-size: 1em;
  font-weight: 200;
  margin: 0 0 0 18px;
}

.title, .name {
  cursor: default;
}

.title {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.links {
  font-size: 0.65em;
  padding-left: 18px;
  text-shadow: none;
  text-decoration:none;
}

.links:hover {
  text-decoration:none;
}

.contactlinks {
  padding-top: 7vh;
  margin-left: 63vw;
}

.socialicon {
  width: 2em;
  margin: 0 1vw 0 1vw;
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.pic {
  border: 1px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: 40px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.mainpanel {
  border: 1px solid black;
  border-radius: 30px;
  height: 75vh;
  min-height: 320px;
  margin: -50px 10px 10px 10px;
  padding: 60px 15px 15px 15px

}

@media (max-width: 320px) {

  .contactlinks {
    margin-left: 55vw;
  }

  .socialicon {
    padding-top: 4px;
  }
}

@media (min-width: 480px) {

  .header, .picandselect, .mainpanel {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }

  .contactlinks {
    margin-left: 46vw;
  }

  .mainselect {
    margin-left: 4vw;
  }

}

@media (min-width: 880px) {

  .header, .picandselect, .mainpanel {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .contactlinks {
    margin-left: 32vw;
  }

  .mainselect {
    margin-left: 6vw;
  }

}

@media (min-width: 1200px) {
  @media (min-height: 1000px) {

    .name {
      font-size: 2.2em;
    }

    .title {
      font-size: 1.3em;
    }

    .pic {
      margin-left: 60px;
    }

    .mainpanel {
      padding: 60px 30px 30px 30px
    }

    .socialicon {
      width: 2.5em;
      margin: 0 1vw 0 1vw;
    }

    .mainselect {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 1600px) {

  .mainselect {
    margin-left: 8vw;
  }

}
