<div class="all">
  <div class="header">
    <div class="maininfo">
      <div class="name" routerLink="/">Eric Eschelbach</div>
      <div class="title">Full Stack Web Developer</div>
      <div class="links">
        <a href="tel:801-313-0394">801-313-0394</a> · <a href="mailto:ericeschelbach@gmail.com">ericeschelbach@gmail.com</a>
      </div>
    </div>
    <div class="contactlinks">
      <!--
      <a href="https://github.com/spongah">
        <img src="/assets/github-gray2.png" class="socialicon"
        onmouseover="this.src='/assets/github.png'"
        onmouseout="this.src='/assets/github-gray2.png'">
      </a>
      <a href="https://www.linkedin.com/in/eric-eschelbach-719b09102/">
        <img src="/assets/linkedin-gray2.png" class="socialicon"
        onmouseover="this.src='/assets/linkedin.png'"
        onmouseout="this.src='/assets/linkedin-gray2.png'">
      </a>
      <a href="https://www.facebook.com/eric.eschelbach">
        <img src="/assets/facebook-gray2.png" class="socialicon"
        onmouseover="this.src='/assets/facebook.png'"
        onmouseout="this.src='/assets/facebook-gray2.png'">
      </a>
      -->
      <a href="https://github.com/spongah" class="socicon-github iconfont github"></a>
      <a href="https://www.linkedin.com/in/eric-eschelbach-719b09102/" class="socicon-linkedin iconfont linkedin"></a>
      <a href="https://www.facebook.com/eric.eschelbach" class="socicon-facebook iconfont facebook"></a>
    </div>
  </div>
  <div class="picandselect">
    <img src="/assets/me.jpg" class="pic" routerLink="/">
    <!-- <div class="mainselect" (click)="changePage($event)">Qualifications</div>  -->
    <span class="mainselect" data-toggle="modal" data-target=".pages-modal">
      {{ currentDisplay }}
    </span>
  </div>

  <div class="modal fade pages-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="container">
          <a href="#" class="modal-link" routerLink="/introduction" (click)="currentDisplay = 'Introduction'">
            <div class="modalbutton" data-toggle="modal" data-target=".pages-modal"
            routerLink="/introduction" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Introduction</div>
          </a>
          <a href="#" class="modal-link" routerLink="/portfolio" (click)="currentDisplay = 'Portfolio'">
            <div data-toggle="modal" data-target=".pages-modal" class="modalbutton"
            routerLink="/portfolio" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Portfolio</div>
          </a>
          <a href="#" class="modal-link" routerLink="/qualifications" (click)="currentDisplay = 'Qualifications'">
            <div data-toggle="modal" data-target=".pages-modal" class="modalbutton"
            routerLink="/qualifications" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Qualifications</div>
          </a>
          <a href="#" class="modal-link" routerLink="/skills" (click)="currentDisplay = 'Skills'">
            <div class="modalbutton" data-toggle="modal" data-target=".pages-modal"
            routerLink="/skills" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Skills</div>
          </a>
          <a href="#" class="modal-link" routerLink="/employment" (click)="currentDisplay = 'Employment'">
            <div data-toggle="modal" data-target=".pages-modal" class="modalbutton"
             routerLink="/employment" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Employment</div>
          </a>
          <a href="/assets/Eric_Eschelbach-Full-StackWebDeveloper.docx" class="modal-link">
            <div class="modalbutton" data-toggle="modal" data-target=".pages-modal">Download Resume</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mainpanel">
    <div class="maincontainer">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
