<div class="modal fade pages-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-container">
        <a href="#" class="modal-link" routerLink="/introduction" (click)="currentDisplay = 'Introduction'">
          <div class="modalbutton" data-toggle="modal" data-target=".pages-modal"
          routerLink="/introduction" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Introduction</div>
        </a>
        <a href="#" class="modal-link" routerLink="/portfolio" (click)="currentDisplay = 'Portfolio'">
          <div data-toggle="modal" data-target=".pages-modal" class="modalbutton"
          routerLink="/portfolio" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Portfolio</div>
        </a>
        <a href="#" class="modal-link" routerLink="/qualifications" (click)="currentDisplay = 'Qualifications'">
          <div data-toggle="modal" data-target=".pages-modal" class="modalbutton"
          routerLink="/qualifications" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Qualifications</div>
        </a>
        <a href="#" class="modal-link" routerLink="/skills" (click)="currentDisplay = 'Skills'">
          <div class="modalbutton" data-toggle="modal" data-target=".pages-modal"
          routerLink="/skills" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Skills</div>
        </a>
        <a href="#" class="modal-link" routerLink="/employment" (click)="currentDisplay = 'Employment'">
          <div data-toggle="modal" data-target=".pages-modal" class="modalbutton"
           routerLink="/employment" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{ exact : true }">Employment</div>
        </a>
        <a href="/assets/Eric_Eschelbach-Full-StackWebDeveloper.docx" class="modal-link">
          <div class="modalbutton" data-toggle="modal" data-target=".pages-modal">Download Resume</div>
        </a>
      </div>
    </div>
  </div>
</div>
