<h4 class="text-center">Professional Employment History</h4>
<br>
<table class="employment-table table table-responsive table-striped">
  <thead>
    <tr>
      <th>Employer</th>
      <th>Location</th>
      <th>Title</th>
      <th>Dates</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let history of employmentHistory">
      <td>
        {{ history.company }}
      </td>
      <td>
        {{ history.location }}
      </td>
      <td>
        {{ history.position }}
      </td>
      <td>
        {{ history.startdate }} - {{ history.enddate }}
      </td>
    </tr>
  </tbody>
</table>
<div class="bottomnav">
  <img routerLink="/skills" src="assets/prev.png" class="bottomicon">
  <img routerLink="/portfolio" src="assets/next.png" class="bottomicon">
</div>
