<h4 class="text-center">Education History</h4>
<br>
<table class="education-table table table-responsive table-striped">
  <thead>
    <tr>
      <th>School</th>
      <th>Location</th>
      <th>Notes</th>
      <th>Dates</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let history of educationHistory">
      <td>
        {{ history.school }}
      </td>
      <td>
        {{ history.location }}
      </td>
      <td>
        {{ history.notes }}
      </td>
      <td>
        {{ history.startdate }} - {{ history.enddate }}
      </td>
    </tr>
  </tbody>
</table>
