<h4 class="text-center">Summary of Qualifications</h4>
<br>
<div class="qualifications">
  <ul>
    <li>Creative, highly motivated, self-taught Full-Stack Web Developer with a strong business-minded work ethic and a natural passion for technology.</li>
    <br>
    <li>Detail oriented, technically talented with experience testing and developing software to be robust, effective, and user friendly.</li>
    <br>
    <li>Extensive experience personally solving a wide variety of unfamiliar problems quickly in a high-pressure environment while learning new skills and technology quickly and thoroughly.</li>
    <br>
    <li>Superb communication, planning, and team building skills.</li>
  </ul>
</div>
<!-- <div class="bottomnav">
  <img routerLink="/introduction" src="assets/prev.png" class="bottomicon">
  <img routerLink="/skills" src="assets/next.png" class="bottomicon">
</div> -->
