<table>
  <tr>
    <td>
      <ul>
        <li>AngularJS/Angular</li>
        <li>Node.js / Express</li>
        <li>Ruby on Rails</li>
        <li>JavaScript ES6</li>
        <li>TypeScript 2.0+</li>
        <li>HTML5, CSS3, jQuery</li>
        <li>LAMP, MEAN Stacks</li>
        <li>MongoDB, PostgreSQL, MySQL, SQLite</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>RESTful API’s</li>
        <li>Python, PHP, Assembly</li>
        <li>Object Oriented Programming</li>
        <li>Test Driven Design</li>
        <li>Source Version Control (GitHub, Heroku)</li>
        <li>vim, bash, ssh</li>
        <li>UX/UI Design</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Problem solving</li>
        <li>Strong work ethic</li>
        <li>Passion for technology</li>
        <li>Teamwork and communication</li>
        <li>Project Management</li>
        <li>Strong focus and determination</li>
        <li>Well-rounded</li>
      </ul>
    </td>
  </tr>
</table>
