<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="all">
      <div class="header">
        <div class="maininfo">
          <h1>Eric Eschelbach</h1>
          <h4>Full Stack Web Developer</h4>
        </div>
        <div class="contactlinks">
          Facebook, Twitter, Etc.
        </div>
      </div>
      <img src="/me.jpg" class="pic">
      <div class="mainpanel">
        BLA
      </div>
    </div>
  </body>
</html>
