<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="all">
      <div class="header">
        <div class="maininfo">
          <div class="name">Eric Eschelbach</div>
          <div class="title">Full Stack Web Developer</div>
        </div>
        <div class="contactlinks">
          <img src="/github.png" class="socialicon">
          <img src="/linkedin.png" class="socialicon">
          <img src="/facebook.png" class="socialicon">
        </div>
      </div>
      <img src="/me.jpg" class="pic">
      <div class="mainpanel">
        <div class="maincontainer">
          BLA
        </div>
      </div>
    </div>
  </body>
</html>
