<h4></h4>
<div class="intro">
  <p>
    Hello, my name is Eric Eschelbach. Thank you for taking the time to visit my
    web resume!
    <br><br>
    I am captivated by everything related to computers, and for the
    last two years I have been teaching myself web app development.
    I've designed and built this site myself from the ground up using Angular,
    and it is currently being hosted by a Raspberry Pi (running NGINX)
    in my living room.
    <br><br>
    My interests also include playing and recording music, designing and
    building speakers, and caring for my growing collection of bonsai trees. I
    am passionate about everything I do, and always put in the effort required
    to get tasks done correctly.
    <br><br>
    Thanks again for considering my employment application, please
    <a href="tel:801-313-0394">contact</a> me if you have any questions!
  </p>
</div>
<div class="bottomnav">
  <img src="assets/prev-disabled.png" class="bottomicon">
  <img routerLink="/qualifications" src="assets/next.png" class="bottomicon">
</div>
