<h4></h4>
<div class="intro">
  <p>
    Hello, my name is Eric Eschelbach. Thank you for taking the time to visit my
    web resume!
    <br><br>
    I have always been captivated by everything related to computers, and for
    the last two years I have been mastering the fundamentals of web app
    development. I designed and built this site from scratch with a text editor
    and terminal using TypeScript / Angular along with Node.js / Express. This
    site and a few others are hosted on a Raspberry Pi web server in my home
    office.
    <br><br>
    My interests also include playing and recording music, designing and
    building speakers, and caring for my growing collection of bonsai trees. I
    am passionate about everything I do, and always put in the effort required
    to get tasks done correctly.
    <br><br>
    Thanks again for considering my employment application, please
    <a href="tel:801-313-0394">contact</a> me if you have any questions!
  </p>
</div>
<!-- <div class="bottomnav">
  <img src="assets/prev-disabled.png" class="bottomicon">
  <img routerLink="/qualifications" src="assets/next.png" class="bottomicon">
</div> -->
